<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Web Service</description>
    <display-name>notesrest</display-name>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <!-- Auto scan REST service -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <context-param>
        <param-name>resteasy.resources</param-name>
       <!-- <param-value>com.mycompany.mavenweb1.Rest</param-value> -->
        <param-value>com.mycompany.mavenweb1.RecipieResource</param-value>
    </context-param> 

    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list> 
        <welcome-file>index.html</welcome-file>
        <welcome-file>inline.bundle.js</welcome-file>
        <welcome-file>polyfills.bundle.js</welcome-file>
        <welcome-file>styles.bundle.js</welcome-file>
        <welcome-file>vendor.bundle.js</welcome-file>
        <welcome-file>main.bundle.js</welcome-file>
    </welcome-file-list>

</web-app>
